wlf @ git+https://github.com/WuLiFang/wlf@0.5.3
cgtwq-uploader @ git+https://github.com/WuLiFang/uploader@3.3.0
cgtwq @ git+https://github.com/WuLiFang/cgtwq@3.0.0-alpha.8
PySide ~= 1.2
win_unicode_console ~= 0.5